<%- include('../partials/header') %>
    <table id="list">
        <thead>
          <tr>
            <th>National Park</th>
            <th>Year</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% parks.forEach(function(p) { %>
            <tr>
              <td><%= p.name %></td>
              <td><%= p.year %></td>
              <td><a href="/parks/<%= p._id %>">Details</a></td>
              <!--Below is for delete function-->
              <form action="/parks/<%= p._id %>?_method=DELETE" method="POST">
                <td><button type="submit" class="btn btn-danger">X</button></td>
              </form>
              <!--Above is for delete function-->
            </tr>
            <% }); %>
          </tbody>
        </table>
<%- include('../partials/footer') %>
