<%- include('../partials/header') %>
  <section id="show-page">
    <div>Name: </div>
    <div><%= park.name %></div>
    <div> Year: </div>
    <div><%= park.year %></div>
    <div>Location: </div>
    <div><%= park.location %></div>
    <div>Favorite: </div>
    <div><%= park.favorite ? '<3' : '</3' %></div>
  
    <div>Activities:</div>
    <ul>
      <%- park.parkActivity.map(p => 
        `<li>${p.name} <small>${p.born.toLocaleDateString()}</small></li>`
      ).join('') %>
    </ul>
  </section>
  
  <form id="add-per-to-activities" action="/parks/<%= park._id%>/sports" method="POST">
    <select name="sportId">
      <%- sports.map(p => 
        `<option value="${p._id}">${p.parkActivity}</option>`
      ).join('') %>
    </select>
    <button type="submit">Add to Activities</button>
  </form>
  
  <br><br>
  <h2>Comments</h2>
  <form id="add-comment-form" method="POST" action="/parks/<%= park._id %>/comments">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Comment">
  </form>

  <form action="/parks/<%= park._id %>?_method=PUT" method="POST">
    <input name="text" value="<%= park.text %>">
    <button type="submit">UPDATE COMMENT</button>
  </form>
  
  <% if (park.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Comments</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% park.comments.forEach(function(r) { %>
          <% total += r.rating %>
          <tr>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.content %></td>
            <td><%= r.rating %></td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="2"></td>
          <td><strong><%= (total / park.comments.length).toFixed(1) %></strong></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>
  <%- include('../partials/footer') %>

